/* ===========================================================================
	Colors
	========================================================================== */
	$serif: 'Inconsolata', sans-serif;

	$white: #fff;
	$black: #000;

	$link: #1ABC9C;
	$link-hover: darken(#1ABC9C, 8%);
	$link-visited: #1ABC9C;

	$red: #c0392b;

	$background: #26292c;

	$text: #ddd471;
	$green: #9bd32d;
	$blue: #62cde2;
	$pink: #e9266d;
	$white: #e6e6e1;
	$tan: #6f6c5a;
	$orange: #ed8f1f;
	$purple: #a87cf5;
	$yellow: #ddd471;

	/*  Buttons
		========================================================================== */
		$btn-light: #535556;
		$btn-medium: #424242;
		$btn-dark: #404040;

		$btn-border-light: #606264;
		$btn-border-dark: #191919;

		$btn-text-border: #202020;

		$btn-active-bg: #303030;
		$btn-hover-glow: #637f90;
		$btn-active-glow: #3b5766;

	/*  Forms
		========================================================================== */
		$input-bg: #e6e6e6;
		$input-border: #191919;